<div class="p-5 mb-4 bg-primary rounded-3 text-light text-center">
  <div class="container py-5">
      <h1 class="display-4 fw-bold">Hoş Geldiniz! <h1>
        <h3 class="fw-bold">Müzik Tutkunlarına Özel Bir Dünya</h3>
      <div class="col-md-8 mx-auto">
          <p class="fs-5">
              Müziğin büyüsüne hoş geldiniz! Biz, müzik tutkunları için özel olarak tasarlanmış bu kütüphanede, geniş bir müzik koleksiyonu ile sizi karşılıyoruz. Her türden, her dönemden ve her tarzdan müziği keşfetmek için doğru yerdesiniz.
          </p>
      </div>
      <button class="btn btn-outline-light btn-lg">Button</button>
  </div>
</div>
