<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #000000;">
  <div class="container">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
      <span class="material-symbols-outlined">
        music_note </span>MusicLibrary
    </a>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a asp-controller="MusicLibrary" asp-action="Music" class="nav-link">Music</a>
      </li>
    </ul>
  </div>
</nav>
