@model List<Music>
  @section Header{ @await Html.PartialAsync("_Header") }
  <div class="row m-5">
    @foreach(var music in Model){ @if(music.IsActive && music.IsHome){
    <div class="col-3">
      <div class="card">
        <img src="~/image/@music.Image" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">@music.Title</h5>
          <p class="card-text">@music.Description</p>
          <a
            class="btn btn-dark"
            asp-controller="MusicLibrary"
            asp-action="Details"
            asp-route-id="@music.Id"
            >Submit</a
          >
        </div>
      </div>
    </div>
    }
   }
  </div>

